<!DOCTYPE html>
<html>

<head>
  <title>Meet Metaverse</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
</head>

<body>
  <div class="bg-color-container">
    <div class="bg-color"></div>
    <div class="bg-color"></div>
    <div class="bg-color"></div>
    <div class="bg-color"></div>
    <div class="bg-color"></div>
    <div class="bg-color"></div>
  </div>

  <div id="app" v-cloak>
    <header class="z-10 relative py-2">
      <div class="container mx-auto px-12 py-3 lg:flex items-center">
        <div class="container mx-auto flex justify-between items-center">
          <h1 class="text-3xl font-bold text-gray-200">{{ title }}</h1>
          <div class="lg:flex lg:ml-4 lg:ml-4 inline text-2xl">
            <ul class="list-none lg:flex lg:items-center">
              <li v-for="lang in languages" :key="lang" @click="setLanguage(lang)"
                :class="{ 'font-bold text-blue-500': lang === language }"
                class="cursor-pointer text-gray-500 hover:text-gray-200 transition-colors duration-300 ease-in-out md:mx-4">
                {{ lang_l[lang] }}</li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="flex px-4">
        <div class="flex flex-wrap w-full px-6">

          <section class="w-full lg:w-2/3 order-1 lg:order-1 z-2 relative mt-12">
            <h1 v-for="(title, index) in title_description.split('\n')"
              class="mx-auto w-3/4 drop-shadow-lg text-7xl font-bold text-center bg-gradient-to-r from-purple-500 to-blue-500 text-transparent bg-clip-text">
              {{title}}</h1>
          </section>

          <section class="w-full lg:w-2/3 order-3 lg:order-2 container pt-20 z-2 relative max-w-4xl">
            <div class="grid lg:grid-cols-3 grid-rows-3 gap-4 mx-12">
              <div v-for="(quote, index) in quotes" :key="'a'+quote.id"
                :class="index === currentIndex % quotes.length ? 'block' : 'hidden'" class="bg-gray-900 p-4 shadow-lg">
                <h2 class="text-4xl lg:text-lg font-medium text-white tracking-tight">{{ loading ? loadingText :
                  quote.quote }}</h2>
                <p class="mt-4 text-xl lg:text-base text-gray-500">{{ quote.author }}</p>
              </div>
              <div v-for="(quote, index) in quotes" :key="'b'+quote.id"
                :class="index === (currentIndex +1) % quotes.length ? 'block' : 'hidden'"
                class="bg-gray-900 p-4 shadow-lg">
                <h2 class="text-4xl lg:text-lg font-medium text-white tracking-tight">{{ loading ? loadingText :
                  quote.quote }}</h2>
                <p class="mt-4 text-xl lg:text-base text-gray-500">{{ quote.author }}</p>
              </div>
              <div v-for="(quote, index) in quotes" :key="'c'+quote.id"
                :class="index === (currentIndex +2) % quotes.length ? 'block' : 'hidden'"
                class="bg-gray-900 p-4 shadow-lg">
                <h2 class="text-4xl lg:text-lg font-medium text-white tracking-tight">{{ loading ? loadingText
                  :quote.quote }}</h2>
                <p class="mt-4 text-xl lg:text-base text-gray-500">{{ quote.author }}</p>
              </div>
            </div>
            <div class="flex justify-center mt-10 mb-20">
              <button @click="showNextQuote"
                class="text-3xl lg:text-base bg-gradient-to-r from-purple-500 to-blue-500 hover:from-blue-500 hover:to-purple-500 transition ease-in-out duration-300 text-gray-700 font-semibold py-2 px-4 rounded-full">
                More Quotes →
              </button>
            </div>
          </section>

          <div id="headset"
            class="w-full lg:w-1/3 order-2 lg:order-3 z-2 lg:absolute top-1/4 right-0 grid content-center mx-12">
            <img class="mt-4 mx-auto max-w-sm lg:max-w-md" src="./img/headset-tr.png">
          </div>
        </div>
      </div>


      <section class="hero bg-gradient-to-r from-purple-500 to-blue-500 pt-10 pb-20 z-2 relative">
        <div class="z-10 mx-4 mt-10 mb-5">
          <img style="position: relative; left: 0;" class="w-96" src="./img/person-earth-tr.png">
        </div>
        <div class="container mx-auto px-12">
          <h1 class="text-white text-6xl lg:text-4xl font-light mb-4 font-extrabold">{{ welcome }}</h1>
          <p class="text-white text-3xl lg:text-lg mb-6 lg:whitespace-pre">{{ welcome_description }}</p>
        </div>
        <div class="flex flex-col lg:flex-row gap-12 px-24">
          <div class="flex-1 rounded-lg shadow-lg" style="background-image: url('./img/bg.png');">
            <div class="flex-1 bg-white rounded-lg overflow-hidden m-4 mb-0">
              <img src="./img/vitrual-concert.jpg" alt="Vitrual Concert Image" class="h-96 lg:h-48 w-full object-cover">
            </div>
            <div class="p-4">
              <h3
                class="font-bold text-5xl lg:text-2xl mb-2 drop-shadow-lg bg-gradient-to-r from-purple-500 to-blue-500 text-transparent bg-clip-text">
                {{box1_title}}</h3>
              <p class="text-white text-3xl lg:text-xl my-2 px-2">{{box1_description}}</p>
            </div>
          </div>
          <div class="flex-1 rounded-lg shadow-lg" style="background-image: url('./img/bg.png');">
            <div class="flex-1 bg-white rounded-lg overflow-hidden m-4 mb-0">
              <img src="./img/vitrual-training.jpg" alt="Vitrual Training Image"
                class="h-96 lg:h-48 w-full object-cover">
            </div>
            <div class="p-4">
              <h3
                class="font-bold text-5xl lg:text-2xl mb-2 drop-shadow-lg bg-gradient-to-r from-purple-500 to-blue-500 text-transparent bg-clip-text">
                {{box2_title}}</h3>
              <p class="text-white text-3xl lg:text-xl my-2 px-2">{{box2_description}}</p>
            </div>
          </div>
          <div class="flex-1 rounded-lg shadow-lg" style="background-image: url('./img/bg.png');">
            <div class="flex-1 bg-white rounded-lg overflow-hidden m-4 mb-0">
              <img src="./img/vitrual-estate.jpg" alt="Vitrual Estate Image" class="h-96 lg:h-48 w-full object-cover">
            </div>
            <div class="p-4">
              <h3
                class="font-bold text-5xl lg:text-2xl mb-2 drop-shadow-lg bg-gradient-to-r from-purple-500 to-blue-500 text-transparent bg-clip-text">
                {{box3_title}}</h3>
              <p class="text-white text-3xl lg:text-xl my-2 px-2">{{box3_description}}</p>
            </div>
          </div>
        </div>
      </section>

      <section class="about bg-gray-900 py-12 relative" id="question">
        <img class="absolute w-full bottom-0 z-0 object-cover" src="./img/3d-ring.png">
        <div class="container mx-auto px-24 relative">
          <h2
            class="z-10 text-5xl mb-2 drop-shadow-lg font-bold text-center bg-gradient-to-r from-purple-500 to-blue-500 text-transparent bg-clip-text">
            {{ question }}</h2>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/uVEALvpoiMQ" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen class="mx-auto mb-4 w-3/4 lg:w-1/2 z-10"></iframe>
          <p class="text-2xl lg:text-lg text-white text-justify lg:mx-60 z-10">{{ answer }}</p>
        </div>
      </section>
    </main>

    <footer class="bg-gray-900 py-4 px-12 border-t-2 border-gray-800">
      <div class="container mx-auto flex justify-between items-center">
        <p class="text-white">Meet Metaverse</p>
        <p class="text-white">Powered by KKT</p>
      </div>
    </footer>
  </div>
</body>
<script src="script.js"></script>
<script>
  window.addEventListener('resize', function (event) {
    let color_bg_height = document.querySelector("main>section>h1").clientHeight;
    console.log(color_bg_height)

    let color_bg = document.querySelector(".bg-color-container");
    color_bg.style.height = color_bg_height + 526 + "px";
  }, true);
</script>

</html>